name: Build & Test

on:
    push:
        branches:
            - main
            - develop
            - 'release/**'
            - 'hotfix/**'
    pull_request:

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4
            -   uses: actions/setup-java@v5
                with:
                    distribution: zulu
                    java-version: 17
            -   name: Gradle Cache
                uses: actions/cache@v4
                with:
                    path: |
                        ~/.gradle/caches/modules-*
                        ~/.gradle/caches/jars-*
                        ~/.gradle/caches/build-cache-*
                    key: gradle-${{ hashFiles('**/build.gradle.kts', 'gradle/libs.versions.toml') }}
            -   name: Gradle Wrapper Cache
                uses: actions/cache@v4
                with:
                    path: ~/.gradle/wrapper
                    key: gradle-wrapper-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
            -   name: Download dependencies
                run: ./gradlew dependencies

            -   name: Build & Test
                run: ./gradlew check koverHtmlReport koverXmlReport koverVerify

            -   name: Archive Test results
                if: ${{ failure() }}
                uses: actions/upload-artifact@v4
                with:
                    name: test-results
                    path: |
                        build/reports/*
                        build/test-results/*

            -   name: Upload Codecov
                uses: codecov/codecov-action@v5
                with:
                    files: ./build/reports/kover/report.xml
                    token: ${{ secrets.CODECOV_TOKEN }}
